.Search {
    width: 100%;
    margin: 2rem auto;
    max-width: 80%;
}

.SearchInput {
    padding: 2em;
}

.SearchInput input {
    font: inherit;
    border: 1px solid #f26522;
    border-radius: 15px 0 0 15px;
    padding: 0.15rem 1rem;
    height: 2em;
    width: 20%;
}

.SearchInput button {
    padding: .8em 1em 1.75em;
    background: #f26522;
    border: 2px solid #f26522;
    height:2.9em;
}

.SearchInput input:focus {
    outline: none;
    border-color: #ff2058;
}

@media (min-width: 768px) {
    .SearchInput {
        flex-direction: row;
    }
}