.footer{
    background-color: #e0e0e0;
    bottom: 0;
    color: #666666;
    left: 0;
    margin-top: 1rem;
    padding: 0.75rem;
    position: fixed;
    width: 100%;
    border: #8a8a8a 1px solid;
}